- AppLink.providers.each do |provider|
  %p{:id => provider[:name].downcase}
    - if current_user.app_links.find_by_provider(provider[:name])
      = t(:'oauth.your_account_is_linked', :provider => provider[:name])
      = link_to t(:'oauth.unlink_account'), unlink_app_path(provider[:name].downcase)
    - else
      = t(:'oauth.your_account_is_not_linked', :provider => provider[:name])
      = link_to t(:'oauth.link_account'), provider[:name] == 'oauth' ? oauth_request_path(provider[:name].downcase) : openid_request_path(provider[:name].downcase)
